
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.oauth-redirect {
    height: 100vh;
    background-image: url('../images/fondo.png');
    background-size: cover;

    .wrapper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .open-app {
            padding: 20px;
            background: #CDC416;
            border-radius: 5px;
            color: #fff;
            //opacity: 0;
            transition: all .5s;
            box-shadow: 0 0 10px #999;
        }
    }
}

